<h2>Sauce</h2>
<p><a href="http://github.com/GlitchMr/Mango">
  <img alt="Mango custard desert"
       title="I know, 4chan made that joke. Who cares, seriously?"
       src="/images/sauce.jpg"
  >
</a>
<p>Image created by <a href="http://frank.itlab.us/">C. Frank Starmer</a>.
   Thanks :-).
